language: php

php:
  - hhvm
  - 7.0
  - 7.1
  - 7.2
  - 5.6
  - 5.5
  - 5.4

before_script:
  - composer install --dev --no-interaction
  
script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c tests/phpunit.xml --coverage-clover build/logs/clover.xml

after_script:
  - php ./vendor/bin/coveralls -v